@charset "utf-8";
/* CSS Document */

#logo img {
    height: 50px;
}
.container
{
width:100%;
max-width:900px;
margin:0 auto;
float:none;
}
#header
{
position:relative;
}
header h2.reg-header
{
font-size:13px;
margin-right:15px;
display: inline-table;
vertical-align:middle;
}
h2.pheader
{
color:#EA534C;
font-size:18px;
line-height:1.3;
}
.form-wrap
{
width:100%;
max-width:900px;
margin:0px auto 0px;
background:#fff;
padding:50px 20px 0px;
-webkit-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.19);
	-moz-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.19);
	box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.19);
}
p
{
width:100%;
display:block;
float:left;
text-align:right;
margin:5px 0px;
position:relative;
}
.red
{
color:#EA534C;
}
.blue
{
color:#1F7AB4;
}
.blue-box
{
padding:15px;
background:#1F7AB4;
box-sizing: border-box;
color:#FFFFFF;
}
.half-box
{
width:50%;
float:left;
}
input
{
margin:0px 5px;}
input.txtin, input.spin
{
border:1px solid  #CCCCCC;
padding:5px 10px;
margin:0px 5px;
width:100%;
box-sizing: border-box;
}
input.error
{
border:1px solid #FF0000;
}
label.error
{
color:#FF0000;
position:absolute;
top:0;
left:0;
font-size:11px;
}
 input.spin
 {
 width:60px;
 }
.sumit-Btn
{
margin:20px 0px 150px;
text-align:center;
}
#sumitBtn
{
font-size:14px;
font-weight:bold;
color:#FFFFFF;
border:1px solid #1F7AB4;
background:#1F7AB4;
padding:2px 20px;
line-height:1;
text-transform:uppercase;
}
#sumitBtn:hover
{
text-decoration:none;
color:#1F7AB4;
background:#fff;
}
@media (min-width: 600px) {
#logo img {
    height: 60px;
}
header h2.reg-header
{
font-size:22px;
margin-right:25px;
}
header h2.reg-header
{
font-size:20px;

}
}

@media (min-width: 960px) {
header h2.reg-header
{
font-size:25px;

}
h2.pheader
{
font-size:25px;
}
#sumitBtn
{
font-size:18px;
}
.form-wrap
{
padding:50px 100px 0px;
}
}